// COLOR CUBE 

$white: #fff;
$nevada: #62676c;
$shark: #1a1b1b;
$easternblue: #27aabe;
$salmon: #fc8c5e;
$silverchalice: #aeaeae;
$royalblue: #6a5fe1;
$totempole: #951a0c;
$ultramarine: #0c1f86;
$malibu: #74def4;


// MEDIAN CUT 

$bizarre: #eee3d6;
$capecod: #3b3d3f;
$bostonblue: #399bc0;
$wedgewood: #516faa;
$downy: #6dc2d0;


// MATERIAL DESIGN 

$vibrant: #4562b0;
$muted: #969799;
$darkvibrant: #8a453f;
$darkmuted: #202325;
$lightvibrant: #6fc2d2;

